* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('pattern-background-desktop.svg');
}

.illustration-center { 
    margin-left: 40rem; 
    margin-right: 40rem; 
    margin-top: 6rem;
}


.illustration-hero {
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 25px;
}

.annual-plan-style {
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c3d3ee;
}

.container {
    text-align: center;
    position: absolute;
    margin-left: 40rem; 
    margin-right: 40rem; 
    width: 348px; 
    height: 400px; 
    padding: 1rem; 
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    top: 36%;
    background-color:white;
}

.order-summary {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
    margin-bottom: 7px;
    font-size: 25px;
    background-color: white;
}

.icon-music {
    height: 35px;
    background-color: #c3d3ee;
    position: relative;
    display: flex;
}

.description {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    color: gray;
    background-color: white;
    margin-bottom: 30px;
}

.annual-plan {
    text-align: center;
    display: flex;
    align-items: center;
    background: #c3d3ee;
    border-radius: 5px;
    margin: 10px -15px 30px;
    padding: 20px;
}

.annual-plan-price {
  width: 50%;
  text-align: middle;
  padding-left: 15px;
  position: absolute;
  left: 60px;
  background-color: #c3d3ee;
}

.annual-plan-price h5 {
    color: gray;
    background-color: #c3d3ee;
}

a {
    font-family:'Montserrat';
    color: #6c70e3;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
  }

.annual-plan a {
    position: absolute;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    left: 260px;
    background-color: #c3d3ee;
}

.payment {
  width: 100%;
  padding: 15px 0;
  color: white;
  background-color: #c3d3ee;
  border: none;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  background: blue;
  border-radius: 5px;
  box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
  margin-bottom: 30px;
}

.cancel-order {
    font-weight: bold;
    font-size: medium;
    color:gray;
    background-color: white;
}